.App {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
}
.inputTask {
  gap: 20px;
}

.inputTask > input,
button {
  padding: 5px 10px;
  font-size: 30px;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin: 20px 10px;
}
.showtask {
  display: flex;
  justify-content: center;
}
.showtask > button {
  font-size: 20px;
  width: 30px;
  height: 30px;
}
